@model Readit.Models.Entities.Member
@{
    ViewData["CommentCount"] = ViewBag.CommentCount;
    ViewData["PostCount"] = ViewBag.PostCount;
    ViewData["LikesCount"] = ViewBag.LikesCount;
    ViewData["Title"] = "Profile";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>jjj</h2>
            <h2>jjj</h2>
            <h2>jjj</h2>
            <h2>jjj</h2>
            <h2>jjj</h2>
            <h2>jjj</h2>
            <h2>jjj</h2>
        </div>

        <div class="col-sm">
            <partial name="_Profile" model="@Model" view-data="ViewData"/>
        </div>
    </div>
</div>