@using Readit.Models.Entities
@model Readit.Models.Entities.Member
@{
    ViewData["CommentCount"] = ViewBag.CommentCount;
    ViewData["PostCount"] = ViewBag.PostCount;
    ViewData["LikesCount"] = ViewBag.LikesCount;
    ViewData["Title"] = "Profile";
}
<div class="container">
    <div class="row">
        <div class="col-sm" style="max-width:500px">
            @foreach (var link in Model.Links.ToList()){
                <partial name="_LinkPartial" model="link" view-data="ViewData" />
            }
        </div>

        <div class="col-sm">
            <partial name="_Profile" model="@Model" view-data="ViewData"/>
        </div>
    </div>
</div>