@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login Page";
}
<div style="text-align:left" class="grid-container">

    <div name="LoginService">
        <br/>
        <br/>
        <h1 class="Comingback">Coming back?</h1>
        <div class="e1_74">
        <form  name="LoginForm" action="/login/Login" method="get">
                <br/>
                @if(ViewBag.Alert!=null){
                    <script type="text/javascript"> 
                        window.onload=function(){
                            alert("@ViewBag.Alert");
                        };
                        </script>
                }
                
                <br/>
                <div style="text-align:center" name="inputs">
                <div style="padding-left:60px"  class="e1_59">
                <label class="ei1_59_1_7" for="Email">Email</label>
                <br/>
                <input type="text" name="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                </div>
                <br/>
                <div style="padding-left:60px" class="e1_59">
                <label class="ei1_59_1_7" for="password">Password</label>
                <br />
                <input type="password" name="password" class="form-control" style="" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
                </div>
                </div>
                <br/>
                <div style="margin-left:145px" class="e1_67"><span  type="submit" onclick="LoginForm.submit()" class="ei1_67_1_27">Login</span></div>
                <br/>
                <br/>
            </form>
            <br/>
            <p style="padding-right:60px">New to ReadIT ?<a style="font-family:Passion one" href="Inscription"> Sign-up here</a></p>
        </div>


    </div>




    <div style="text-align:right" name="image">
        <img src="/images/undraw_bookshelves_re_lxoy.svg" />
    </div>




    <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/LoginPage.css">
</div>