@{
    ViewData["Title"] = "Create Link";
}

<div class="d-flex justify-content-center form-grid">
    <br />
    <form asp-action="AjouterUnLien">
        <br />
        <input class="title-input" type="text" name="Title" id="Title" placeholder="Titre"/>
        <br />
        <br />
        <textarea cols="100" rows="6" type="text" name="Description" placeholder="Description"></textarea>
        <br/>
        <input class="btn btn-primary submit-button" type="submit" value="Publier" />
    </form>
</div>
<img class="img-engineers" src="~/images/undraw_Engineering_team.png" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
