.LinkContainer {
    border: 2px solid;
    border-radius: 8px;
    background-color: grey;
    width: 780px;
    padding: 10px;
}

.newlink {
    background-color: gray;
    border: 2px solid;
    border-radius: 8px;
    width: 100px;
    margin-bottom: 10px;
}

.img-container-left {
    float: left;
    width: 250px;
    height: 700px;
}

.img-container-right {
    float: right;
    width: 250px;
    height: 700px;
}
