@using Readit.Models.Entities;
@model IEnumerable<Link>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["user"] = ViewBag.connectedUser;
}
<h1>Links</h1>
<div>
    <div class="row d-flex justify-content-center">
        <div class="card bg-secondary" style="width:50rem;cursor:pointer">
            <div class="card-body text-white">
                &nbsp;&nbsp;<h4 class="float-start">Publier</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="Create" style="vertical-align:middle">
                    <input type="text" style="vertical-align:middle;width:75%" placeholder="Publier un lien" />
                </a>
            </div>
        </div>
    </div>
    <br />
    @foreach (var item in Model)
    {

        <partial name="_Link" model="item" view-data="ViewData" />
    }
</div>