@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["user"] = ViewBag.connectedUser;
    ViewData["Title"] = "Home Page";
}
<div>
    <a asp-action="AjoutLien">Ajouter un lien</a>
    @foreach (var item in Model) {
        <partial name="_LinkPartial" model="item" view-data="ViewData" />
    }
</div>