@using Readit.Models.Entities;
@model IEnumerable<Link>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Links</h1>

<div>
    <a asp-action="AjoutLien">Ajouter un lien</a>
 @foreach(var item in Model){
     <partial name="_LinkPartial" model="item"/>
 }

</div>