.LinkContainer {
    border: 2px solid;
    border-radius: 8px;
    background-color: grey;
    padding: 10px;
    margin:0px;
    margin-right:0px;
}

.link-col{
    width:fit-content;
}

.newlink {
    background-color: gray;
    border: 2px solid;
    border-radius: 8px;
    width: 100px;
    margin-bottom: 10px;
}

.img-container-left {
    float: left;
    width: 250px;
    height: fit-content;
}

.img-container-right {
    float: right;
    width: 250px;
    height: fit-content ;
}

.create-card {
    width: 51vw;
    background-color: grey;
    border: 2px solid;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-right: 1rem;
}

.publier-text {
    margin-left: 1vw;
    margin-right: 2vw;
}
